<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">user creator: {{game.userCreator ? game.userCreator.firstName : ''}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <span style="color: grey">fall dice: {{game.fallDice}}</span>
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">
      <span style="color: grey">max throw: {{game.maxThrow}}</span>
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">
      <span style="color: grey">number dice: {{game.numDice}}</span>
    </h6>
    <p class="card-text">
      <span style="color:gray">max score: {{game.maxScore}}</span>
      <br/>
      <span style="color: grey">average score: {{game.averageScore}}</span>
    </p>
    <button (click)="showDialog()" type="button" class="btn btn-secondary btn-sm">
      Start Game
    </button>
    <a [routerLink]="['/game-comment', game.id]" class="card-link" style="padding-left: 15px">Add Comment</a>

  </div>
</div>

<p-dialog header="Start new game" [(visible)]="display" [modal]="true" [responsive]="true"
          [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [baseZIndex]="10000">
  <p *ngIf="!loading">do you want play this game?</p>
  <img *ngIf="loading" class="pl-3"
       src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
  <p-footer>
    <button [disabled]="loading" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button [disabled]="loading" (click)="startGame()" type="button" class="btn btn-primary">Start</button>
  </p-footer>
</p-dialog>


